amqp==1.4.9
celery==3.1.23
Django==1.9.6
django-bootstrap-themes==3.3.6
django-bootstrap3==7.0.1
django-celery==3.1.17
django-haystack==2.5.dev0
elasticsearch==2.3.0
gevent==1.1.1
ipython==4.2.0
ipython-genutils==0.1.0
psycopg2==2.6.1
requests==2.10.0
setuptools==21.2.1
